.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        background-color: #00185a;
        margin-top: 30px;
        color:white;
        padding:30px;
        width:90vw;
    
}
.taxt-about{
    color:white;
}
.mid-about{
    width:0.5px;
    border:0.2px solid gray;margin-right: 10px;
}