.box{
    
    border:1px solid gray;
    margin-top: 40px;
    padding:10px
}
.box2{
    padding:0
}
.box1{
    display: flex;
}
.bb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
    margin:16px;
}
.bb2{
    display: flex;
    justify-content: space-between;
}
.button-nav{
    margin-right:20px;
    border:1px solid #00185a;
    background-color: #00185a;
    color:white;
    height:40px;
    
}